/*colors*/
$color-scheme: (
    'main': #273670,
    'primary': #52B289,
    'secondary': #4A4A4A,
    'neutral': #dddddd,
    'error': #f3131a,
    'success': #198754,
    'white': #ffffff,
    'black': #000000,
);

$shadows: (
    'xs': 0 .125rem .25rem rgba(#000, .075),
    'sm': 0 .5rem 1rem rgba(#000, .15),
    'md': 0 1rem 3rem rgba(#000, .175),
);

$color-main: map-get($color-scheme, 'main');
$color-primary: map-get($color-scheme, 'primary');
$color-secondary: map-get($color-scheme, 'secondary');

// Z-index Order (From Hight To Low) starts with 101
$z-indexes: (
    'toast',
    'modal',
    'header',
    'sticky-element',
    'dropdown',
);

/* font */
$defaultHtmlFont: "Tahoma", sans-serif;
$fontSecondary: 'Mardoto';
$fontPrimary: 'Montserrat';
$baseFontFamily: $fontPrimary;
$baseFontSize: 16;

/*grid dimensions*/
$mediaXxlLarge: 1366px;
$mediaXlLarge: 1280px;
$mediaLarge: 1024px;
$mediaMedium: 768px;

/* grid  */
$columnsSize: 12; //count of columns
$columnSpace: rem(12);
$columnSpaceSm: rem(16);

/*screenSizes*/
$media-xxl: 1439px;
$media-xl: 1365px;
$media-lg: 1279px;
$media-md: 1023px;
$media-sm: 767px;
$media-xs: 450px;


