// node-sass -o assets/css assets/scss -w --output-style compressed
@import "utils/_module";
@import "core/_icons";
@import "components/_button";

.sticky-element {   
    position: fixed;
    top: 0;
    z-index: z(sticky-element);
}

.after-element {
    position: relative;

    &::after {
        content: '';
        position: absolute;
    }
}

.before-element {
    position: relative;

    &::before {
        content: '';
        position: absolute;
    }
}

.bordered-text {
    padding-left: rem(30);
    position: relative;

    &::after {
        content: "";
        left: 0;
        width: rem(3);
        height: 95%;
        background-color: $color-primary;
        @include center-absolute(vertical);
    }

    &_outside {
        padding-left: 0;

        &::after {
            left: rem(-30);
        }
    }

    @media (max-width: $media-md) {
        padding-left: rem(19);

        &_outside {
            padding-left: rem(19);
    
            &::after {
                left: 0;
            }
        }
    }
}

.decor-text {
    @extend %inline-flex;
    @extend %align-top;
    
    &__content {
        @include rotate(-9);

        &:only-child {
            @include rotate(-6);
        }
    }
    &__icon {
        @include flex(0, 0, auto);
    }
}

.more-btn {
    @extend %flex;
    @extend %align-middle;
    font-weight: 700;
    text-transform: uppercase;
    @include font-media($media-xxl, rem(14), 0);

    & > span {
        display: block;
        margin-right: rem(5);
    }
    & > .icon {
        font-size: rem(19);
    }
}

.border-block {
    position: relative;
    padding: rem(34) rem(39) rem(34) rem(54);
    background-color: #fff;
    border: rem(3) solid rgba($color-primary, 0.1);
    @include font(800, 21, 152%, $color-primary, 0);
    @include font-media($media-xxl, rem(18), 144%);
    @include font-media($media-sm, rem(17), 147%);

    &__icon {
        position: absolute;
        top: rem(30);
        left: rem(-26);
        padding: rem(16) 0 rem(28);
        background-color: #fff;

        img {
            width: rem(51);
        }
    }

    @media (max-width: $media-xxl) {
        padding: rem(29) rem(44) rem(29) rem(54);

        &__icon {
            top: rem(12);
            left: rem(-22);
            padding: rem(26) 0;
    
            img {
                width: rem(44);
            }
        }
    }
    @media (max-width: $media-md) {
        padding: rem(36) rem(37) rem(36) rem(53);

        &__icon {
            top: rem(16);
        }
    }
    @media (max-width: $media-sm) {
        padding: rem(30) rem(19) rem(16);
        text-align: center;
        margin-top: rem(19);

        &__icon {
            @include translate(-50%, 0);
            left: 50%;
            top: rem(-19);
            padding: 0 rem(13);
            
            img {
                width: rem(40);
            }
        }
    }
}
