@import "utils/_module";
@import "core/_fonts";
@import "core/_typography";
@import "core/_core";
@import "core/_helpers";
@import "layouts/_grid";
@import "layouts/_header";
@import "components/_modal";

.main-logo {
    width: rem(59);
    height: rem(276);
    position: relative;
    display: block;
    
    &__img {
        display: block;
    }

    &__text {
        position: absolute;
        right: 50%;
        top: rem(72);
        @include transform(rotate(-90deg) translate(0, 50%));
        transform-origin: bottom right;
        width: rem(194);
        @extend %flex;

        img {
            width: rem(194);
        }
    }

    @media (max-width: $media-xxl) {
        width: rem(46);
        height: rem(217);

        &__text {
            top: rem(56);
            width: rem(152);
    
            img {
                width: rem(152);
            }
        }
    }
    @media (max-width: $media-md) {
        display: inline-flex;
        display: -ms-inline-flexbox;
        width: auto;
        height: auto;

        &__img {
            width: rem(37);
        }

        &__text {
            position: static;
            transform: none;
            width: rem(133);
            margin-left: rem(10);
        }
    }
    @media (max-width: $media-sm) {
        &__img {
            width: rem(40);
        }
        
        &__text {
            display: none;
        }   
    }
}

.social-icon {
    width: rem(40);
    height: rem(40);
    border: rem(1) solid;

    .icon {
        font-size: rem(24);
    }

    &_primary {
        color: $color-primary;
        border-color: rgba($color-primary, 0.2);
    }
}

.nav-links {
    @extend %flex;
    @extend %align-middle;

    @media (max-width: $media-sm) {
        display: block;
    }
}
.nav-link {
    padding: 0 rem(24);
    position: relative;
    @include font(600, 18, rem(20), map-get($color-scheme, 'blue'), 0);
    @include font-media($media-xxl, rem(16), 0);
    @include font-media($media-md, rem(14), 0);
    @include font-media($media-sm, rem(15), 0);

    a {
        display: inline-block;
        padding: rem(10) 0;
        position: relative;
    }

    &::after {
        content: "";
        @include center-absolute(vertical);
        left: rem(-2);
        width: rem(4);
        height: rem(4);
        background-color: rgba(map-get($color-scheme, 'blue'), 0.2);
    }

    @media (max-width: $media-xxl) {
        padding: 0 rem(16);
    }
    @media (max-width: $media-md) {
        padding: 0 rem(12);
    }
    @media (max-width: $media-sm) {
        padding: 0;
        text-align: center;

        a {
            padding: rem(5) 0;
        }

        &::after {
            display: none;
        }
    }
}

.top-element {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(129);
        right: rem(129);
        background-color: map-get($color-scheme, 'main-007');
        z-index: -1;
    }

    @media (max-width: $media-xxl) {
        &::after {
            left: rem(88);
            right: rem(88);
        }   
    }
    @media (max-width: $media-md) {
        &::after {
            left: 0;
            right: 0;
        }  
    }
}