.footer {
    overflow: hidden;
    padding-top: rem(64.5);

    &__wrapper {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: rem(-120);
            right: rem(-120);
            background-color: map-get($color-scheme, 'main-007');
            z-index: -1;
        }
    }

    &__logo {
        text-align: center;
        margin-bottom: rem(32);
        
        a {
            margin-top: rem(-64.5);
            padding: rem(24);
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;

            img {
                width: rem(81);
            }
        }
    }

    &__desc {
        @include font(500, 40, 128%, inherit, 0, $fontSecondary);
        @include font-media($media-xxl, rem(32), 125%);
        @include font-media($media-md, rem(22), 123%);
        @include font-media($media-sm, rem(20), 135%);
        letter-spacing: -0.04em;
        text-align: center;
        max-width: rem(856);
        margin: 0 auto rem(50);
    }

    &__btn {
        text-align: center;
        margin-bottom: rem(123);
    }

    &__nav {
        @extend %flex;
        @extend %align-between;
    }

    &__link.nav-link {
        &:first-child {
            padding-left: 0;

            &::after {
                display: none;
            }
        }
    }

    &__terms {
        @extend %flex;
        @extend %align-middle;
        letter-spacing: -0.25px;
        @include font-media($media-xxl, rem(14), 0);
        @include font-media($media-md, rem(12), 0);
        @include font-media($media-sm, rem(14), 0);

        a {
            display: inline-block;
            margin: 0 rem(9);
            position: relative;

            &::after {
                content: "";
                @include center-absolute(vertical);
                left: rem(-10);
                width: rem(2);
                height: rem(2);
                background-color: rgba(map-get($color-scheme, 'secondary'), 0.2);
            }

            &:first-child::after {
                display: none;
            }
        }
    }

    &__bottom {
        @extend %flex;
        @extend %align-between;
        @extend %align-middle;
        margin-top: rem(43);
        padding-top: rem(43);
        padding-bottom: rem(43);
        border-top: rem(1) solid rgba(map-get($color-scheme, 'main'), 0.2);
    }

    &__copyright {
        font-weight: 500;
        color: map-get($color-scheme, 'neutral');
        @include font-media($media-xxl, rem(14), 0);
        @include font-media($media-md, rem(13), 0);
        @include font-media($media-sm, rem(12), 0);
    }

    &__development {
        img {
            width: rem(100);
        }
    }
}

@media (max-width: $media-xxl) {
    .footer {
        padding-top: rem(53);

        &__wrapper {
            &::after {
                left: rem(-66);
                right: rem(-66);
            }
        }
    
        &__logo {
            a {
                margin-top: rem(-53);
                padding: rem(13);
    
                img {
                    width: rem(72);
                }
            }
        }
    
        &__desc {
            max-width: rem(770);
            margin-bottom: rem(32);
        }
    
        &__btn {
            margin-bottom: rem(55);
        }
    
        &__bottom {
            margin-top: rem(32);
            padding-top: rem(32);
            padding-bottom: rem(32);
        }
    }
}
@media (max-width: $media-md) {
    .footer {
        padding-top: rem(34);

        &__wrapper {
            &::after {
                left: rem(-56);
                right: rem(-56);
            }
        }
    
        &__logo {
            margin-bottom: rem(10);
            
            a {
                margin-top: rem(-34);
                padding: rem(10);
    
                img {
                    width: rem(48);
                }
            }
        }
    
        &__desc {
            max-width: rem(535);
            margin-bottom: rem(17);
        }
    
        &__btn {
            margin-bottom: rem(42);
        }
    
        &__bottom {
            margin-top: rem(24);
            padding-top: rem(24);
            padding-bottom: rem(24);
        }
    }
}
@media (max-width: $media-sm) {
    .footer {
        text-align: center;

        &__wrapper {
            &::after {
                left: rem(-16);
                right: rem(-16);
            }
        }
    
        &__btn {
            margin-bottom: rem(32);
        }

        &__nav {
            display: block;
        }

        &__links {
            margin-bottom: rem(18);
        }

        &__link {
            margin-bottom: rem(4);
        }

        &__social {
            display: inline-flex;
            display: -ms-inline-flexbox;
            margin-bottom: rem(18);

            .social-icon {
                margin-left: rem(21);

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &__terms {
            @include flex-flow(column, nowrap);
            @include align-items(center);

            a {
                margin: 0;
                margin-bottom: rem(7);

                &::after {
                    display: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    
        &__bottom {
            display: block;
            margin-top: rem(22);
            padding-top: rem(22);
            padding-bottom: rem(22);
        }

        &__copyright {
            margin-bottom: rem(10);
        }
    }
}