.header {
    
}

.lang-switcher {
    position: relative;
    display: inline-block;

    &__current {
        @extend %flex;
        @extend %align-middle;
        @extend %user-cursor;

        .icon {
            color: inherit;
            font-size: rem(24);
            @extend %primary-transition;
        }

        span {
            color: inherit;
        }
    }

    &__dropdown {
        @media (min-width: 1024px) {
            position: absolute;
            left: 0;
            top: calc(80%);
            color: inherit;
            @include transition(all, 0.3s, ease);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: z(dropdown);
            padding-top: rem(20);
            
            &-body {
                position: relative;
                background-color: #fff;
                border-radius: rem(10);
                padding: rem(10) 0;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05), 0px 5px 40px rgba(0, 0, 0, 0.13);
            }
        }
    }

    &__item {
        display: block;
        white-space: nowrap;
        @include flex(0, 0, rem(164));
        max-width: rem(164);
        text-transform: capitalize;
        font-weight: 400;
        padding: 0 rem(20);

        a {
            display: inline-block;
            line-height: inherit;
        }

        &.active {
            font-weight: 600;
            color: $color-main;
        }
    }

    &.active {
        .lang-switcher {
            &__current {
                .icon {
                    @include rotate(-180);
                }
            }

            @media (min-width: 1024px) {
                &__dropdown {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
}