.header {
    &__back {
        display: none;
    }
    &__menu {
        @include flex(0, 0, auto);
        padding-left: 0;
    }
}
@media (min-width: 1024px) {
    .header {
        &__wrapper {
            margin-right: rem(-108);
            padding-left: rem(549);
        }
    }
}
@media (min-width: 1440px) {
    .header {
        &__wrapper {
            @include justify(space-between);
            margin-right: rem(-152);
            padding-left: rem(724);
        }
    }
} 