$textSizes: (12, 14, 16, 18, 20, 22, 24, 28, 32, 36);

.font {
    @each $size in $textSizes {
        &-#{$size} {
            font-size: rem($size);
        }
    }
}

@media (max-width: $media-md) {
    .font-md {
        @each $size in $textSizes {
            &-#{$size} {
                font-size: rem($size);
            }
        }
    }   
}
@media (max-width: $media-sm) {
    .font-sm {
        @each $size in $textSizes {
            &-#{$size} {
                font-size: rem($size);
            }
        }
    }   
}
@media (max-width: $media-xs) {
    .font-xs {
        @each $size in $textSizes {
            &-#{$size} {
                font-size: rem($size);
            }
        }
    }   
}