.achievement-item {
    padding-top: rem(56);
    width: 100%;
    @extend %flex;

    &__wrap {
        @extend %flex;
        @extend %align-between;
        @include flex-flow(column, nowrap);
        width: 100%;
        position: relative;
        text-align: center;
        padding: rem(92) rem(56) rem(24);
        background-color: map-get($color-scheme, 'primary-007');
        @extend %primary-transition;

        &:hover {
            background-color: $color-main;
            color: #fff;

            .achievement-item {
                &__icon {
                    background-color: $color-primary;

                    svg {
                        path {
                            fill: #fff;
                        }   
                    }
                }
                &__name {
                    img {
                        @extend %white-image;
                    }
                }
            }
        }
    }

    &__icon {
        @include center-absolute(horizontal);
        top: rem(-56);
        width: rem(112);
        height: rem(112);
        border: rem(12) solid #fff;
        background-color: rgb(254, 245, 243);
        @extend %primary-transition;

        svg {
            width: rem(54);
        }
    }

    &__title {
        @include font(700, 26, 123%, inherit, 0);
        @include font-media($media-xxl, rem(20), 130%);
        @include font-media($media-md, rem(18), 122%);
        @include font-media($media-sm, rem(17), 0);
    }

    &__name {
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        margin-top: rem(24);
        padding-top: rem(22);
        @include horizontal-decor('../../img/decor/horizontal-sm-grey.svg');
        @include font(500, 18, 144%, inherit, 0);
        @include font-media($media-xxl, rem(14), 186%);
        @include font-media($media-md, rem(12), 120%);

        &::after {
            top: rem(-1);
        }

        img {
            width: rem(32);
            margin-right: rem(8);
            @extend %primary-transition;
        }

        span {
            opacity: 0.7;
        }
    }
}

@media (max-width: $media-xxl) {
    .achievement-item {
        &__wrap {
            padding-left: rem(36);
            padding-right: rem(36);
        }
    
        &__name {
            padding-top: rem(14);
        }
    }   
}
@media (max-width: $media-md) {
    .achievement-item {
        padding-top: rem(37);
    
        &__wrap {
            padding: rem(70) rem(22) rem(16);
        }
    
        &__icon {
            top: rem(-37);
            width: rem(75);
            height: rem(75);
            border-width: rem(8);
    
            svg {
                width: rem(36);
            }
        }
    
        &__name {
            margin-top: rem(9);
    
            img {
                width: rem(21);
                margin-right: rem(5);
            }
        }
    }   
}
@media (max-width: $media-sm) {
    .achievement-item {
        &__wrap {
            padding: rem(60) rem(36) rem(16);
        }
    
        &__name {
            margin-top: rem(16);
            padding-top: rem(16);
        }
    }
}