.btn {
    position: relative;
    padding: rem(4);
    @extend %inline-flex;
    @extend %align-middle;
    @extend %align-center;
    @extend %user-cursor;
    @extend  %primary-transition;
    max-width: 100%;

    & > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > img,& > svg, & > .icon {
        font-size: rem(22);

        &:last-child {
            margin-left: rem(8);
        }

        &:first-child {
            margin-right: rem(8);
        }

        @media (max-width: $media-md) {
            font-size: rem(16);   
        }
    }


    // types ******************************
    &_main {
        background-color: $color-main;
        box-shadow: map-get($shadows, 'main');
        color: #fff;

        &-border {
            border: rem(1) solid rgba(54, 96, 110, 0.1);
            color: map-get($color-scheme, 'blue');
        }
    }

    &_primary {
        background-color: $color-primary;
        box-shadow: map-get($shadows, 'primary');
        color: #fff;

        &-border {
            border: rem(1) solid #EF7858;
            color: $color-primary;
        }
    }

    // sizes ***************************
    &_md {
        height: rem(52);
        padding-left: rem(30);
        padding-right: rem(30);

        @media (max-width: $media-xxl) {
            height: rem(48);
            padding-left: rem(24);
            padding-right: rem(24);
        }

        @media (max-width: $media-md) {
            height: rem(40);
            padding-left: rem(16);
            padding-right: rem(16);
        }
    }

    &_lg {
        height: rem(64);
        padding-left: rem(30);
        padding-right: rem(30);

        & > img,& > svg, & > .icon {
            &:last-child {
                margin-left: rem(11);
            }
    
            &:first-child {
                margin-right: rem(11);
            }
        }

        @media (max-width: $media-xxl) {
            height: rem(48);
            padding-left: rem(24);
            padding-right: rem(24);
        }

        @media (max-width: $media-md) {
            height: rem(40);
            padding-left: rem(16);
            padding-right: rem(16);

            & > img,& > svg, & > .icon {
                &:last-child {
                    margin-left: rem(8);
                }
        
                &:first-child {
                    margin-right: rem(8);
                }
            }
        }
    }
}