.btn {
    position: relative;
    border-radius: 10px;
    padding: 4px;
    @extend %inline-flex;
    @extend %align-middle;
    @extend %user-cursor;
    @include transition(all,0.3s,ease);
    max-width: 100%;

    & > span {
        @include font(600, 18, 1, 0, 0);
        @include fluid-font(100px, 1200px, 16px, 18px);
        @include transition(all,0.3s,ease);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > img, & > .icon {
        &:last-child {
            margin-left: 10px;
        }

        &:first-child {
            margin-right: 10px;
        }
    }


    // types ******************************
    &_stroke {
        border: 1px solid $color-main;
        background-color: transparent;

        & > span {
            color: $color-main;
        }

        &:hover {
            background-color: $color-main;

            & > span {
                color: #fff;
            }

            & > img {
                filter: brightness(0) invert(1);
            }
        }
    }

    // sizes ***************************
    &_sm {
        height: 32px;
    }
}