.btn {
    position: relative;
    border-radius: 10px;
    padding: 4px;
    @extend %inline-flex;
    @extend %align-middle;
    @extend %align-center;
    @extend %user-cursor;
    @extend %primary-transition;
    max-width: 100%;

    & > span {
        @include font(600, 18, 1, inherit, 0);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > img,& > svg, & > .icon {
        &:last-child {
            margin-left: 10px;
        }

        &:first-child {
            margin-right: 10px;
        }
    }


    // types ******************************
    &_stroke {
        border: 1px solid $color-main;
        background-color: transparent;
        color: $color-main;

        &:hover {
            background-color: $color-main;
            color: #fff;

            & > img {
                filter: brightness(0) invert(1);
            }
        }
    }

    // sizes ***************************
    &_sm {
        height: rem(32);
        padding: 12px;
    }
}