.custom-check {
    position: relative;
    display: inline-flex;
    align-items: center;
    @extend %user-cursor;
    margin: 0 rem(16) rem(16) 0;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        // &:focus-visible+.custom-check__checkmark, &:focus-within+.custom-check__checkmark {
        //     outline: 2px solid #000;
        // }
    }

    &_checkbox {
        .custom-check {
            &__checkmark {  
                width: rem(22);
                height: rem(22);
                border: rem(1) solid #000;
                border-radius: rem(5);
                margin-right: rem(17);
                position: relative;
                color: #000;
        
                &::after {
                    @include center-absolute(both);
                    @include font-icon("\e904");
                    color: inherit;
                    @extend %hidden;
                    font-size: rem(22);
                }
            }
        }

        input:checked ~ .custom-check__checkmark {
            &::after {
                @extend %show;
            }
        }
    }

    &_radio {
        .custom-check {
            &__checkmark {
                width: rem(18);
                height: rem(18);
                border-radius: 50%;
                border: rem(1) solid #000;
                margin-right: rem(14);
                position: relative;
        
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: rem(8);
                    height: rem(8);
                    background-color: #000;
                    border-radius: 50%;
                    @include transform(translate(-50%, -50%) scale(0));
                    @include transition(all,0.3s,ease);
                }
            }
        }

        input:checked ~ .custom-check__checkmark {
            &::after {
                @include transform(translate(-50%, -50%) scale(1));
            }
        }
    }
}