.combo-box {
    position: relative;
    display: block;
    color: #fff;
    @include font(600, 18, 1, #000, 0);

    &.searchable {
        .combo-box-options {
            padding-top: rem(60);
        }
    }
}
  
.combo-box-placeholder {
    color: map-get($color-scheme, 'neutral');
}

.combo-box-selected {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    height: rem(56);
    line-height: rem(56);
    border-radius: rem(30);
    border: rem(1) solid #000;
    background: #fff;
    padding: 0 rem(50) 0 rem(24);
    @extend %flex;
    @extend %align-middle;

    &:after {
        @include font-icon("\e904");
        position: absolute;
        font-size: rem(20);
        cursor: pointer;
        display: inline-block;
        margin-left: rem(4);
        top:  0;
        right: rem(24);
        line-height: inherit;
        @extend %primary-transition;
    }

    & > img {
        display: inline-block;
        // vertical-align: -4px;
        margin-right: 5px;
    }

    &.active {
        &:after {
            transform: rotate(180deg);
        }
    }
}
  
.combo-box-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    border-bottom-right-radius: rem(5);
    border-bottom-left-radius: rem(5);
    overflow: hidden;
    background: #fff;
    z-index: z(dropdown);
    box-shadow: map-get($shadows, 'sm');
    transform: translateY(rem(10));
    @extend %hidden;
    @extend %primary-transition;

    &::-webkit-scrollbar {
        width: rem(7);

        &-thumb {
            background-color: map-get($color-scheme, 'neutral');
        }
    }

    &.opened {
        transform: translateY(0);
        @extend %show;
    }
}

.combo-box-search {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{rem(7)});
    padding: rem(10) rem(24);
    background-color: #fff;
    z-index: 2;

    input {
        box-shadow: map-get($shadows, 'xs');
        width: 100%;
        height: rem(40);
        border-radius: rem(8);
        padding: 0 rem(16);
    }
}

.combo-box-options {
    max-height: rem(260);
    overflow: auto;

    &::-webkit-scrollbar {
        width: rem(7);

        &-thumb {
            background-color: map-get($color-scheme, 'neutral');
        }
    }
}

.combo-option {
    position: relative;
    display: block;
    width: 100%;
    line-height: rem(20);
    padding: rem(10) rem(24);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    z-index: 1;
    cursor: pointer;

    & > img {
        display: inline-block;
        // vertical-align: -4px;
        margin-right: rem(5);
    }

    &.selected, &.multiSelected {
        background: #000;
        color: #fff;
    }

    &:hover {
        background: #000;
        color: #fff;
    }
}

.disabled {
    background-color:#fff;
    color: #888;
    pointer-events: none;
}

.disabled:hover {
    background-color:#fff !important;
    color: #888 !important;
}