// Single
.custom-datepicker {
    input {
        width: 100%;
        height: rem(48);
    }
}

.ui-datepicker.ui-widget.ui-widget-content {
    border: 0;
    border-radius: rem(24);
    background-color: #fff;
    color: inherit;
    padding: rem(30);
    @include font(normal, 16, 1, inherit, 0);
    box-shadow: map-get($shadows, 'md');
    width: rem(350);

    .ui-datepicker-header {
        padding: 0 0 rem(15) 0;
        border-radius: 0;
        border: 0;
        color: inherit;
        font-weight: medium;
        background-color: #fff;

        .ui-corner-all {
            top: 0;
            width: initial;
            height: initial;
            @extend %user-cursor;

            &::before {
                font-size: rem(24);
                display: block;
            }
            
            &.ui-datepicker-prev {
                left: 0;

                &::before {
                    @include font-icon("\e901");
                }
            }
            &.ui-datepicker-next {
                right: 0;

                &::before {
                    @include font-icon("\e902");
                }
            }
            &.ui-state-hover {
                background-color: #fff;
                border: 0;
            }

            span {
                display: none;
            }
        }

        .ui-datepicker-title {
            margin: 0 rem(32);
            line-height: rem(24);
            font-size: rem(18);

            .ui-datepicker-month {
                
            }
            .ui-datepicker-year {

            }
        }
    }
    .ui-datepicker-calendar {
        margin: 0;
        font-size: inherit;
        table-layout: fixed;

        th {
            padding: 0 0 rem(10) 0;
            color: #dddddd;
        }
        td {
            padding: 0;

            .ui-state-default {
                border: 0;
                background-color: transparent;
                color: inherit;
                font-weight: inherit;
                text-align: center;
                height: rem(41.42);
                line-height: rem(41.42);
                border-radius: 50%;
                font-weight: 500;
                padding: 0;

                &.ui-state-active, &.ui-state-hover {
                    background-color: #52B289;
                    color: #fff;
                }
            }

            &.ui-datepicker-today {
                .ui-state-default {
                    color: #52B289;

                    &.ui-state-active, &.ui-state-hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Range picker
.range-datepicker {
    position: relative;

    .daterangepicker {
        border: 0;
        margin-top: rem(10);
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        border-radius: rem(24);
        box-shadow: map-get($shadows, 'md');

        &::before, &::after {
            display: none;
        }

        .drp-calendar {
            width: rem(350);
            max-width: rem(350);

            .calendar-table {
                border: 0;
                border-radius: 0;
                background-color: transparent;

                th {
                    font-size: rem(15);
                    color: #dddddd;
                    line-height: initial;
                    padding: rem(10) 0;
                    height: initial;
                    border: 0;
                    cursor: initial;

                    // arrows
                    &.available {
                        cursor: pointer;

                        span {
                            border: 0;
                            padding: 0;
                            transform: none;
                            color: #000;

                            &::before {
                                font-size: rem(24);
                                display: block;
                            }
                        }

                        &:hover {
                            background-color: transparent;
                        }

                        &.prev {
                            span {
                                &::before {
                                    @include font-icon("\e901");
                                }
                            }
                        }
                        &.next {
                            span {
                                &::before {
                                    @include font-icon("\e902");
                                }
                            }
                        }
                    }

                    // Month
                    &.month {
                        line-height: rem(24);
                        font-size: rem(18);
                        padding: 0;
                        color: #000;
                    }
                }

                // Days
                td {
                    min-width: initial;
                    width: initial;
                    border-radius: 0;
                    border: 0;
                    height: rem(45.16);
                    line-height: rem(45.16);
                    font-size: rem(16);
                    position: relative;
                    border-radius: 50%;
                    font-weight: 500;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 50%;
                        height: 100%;
                        background-color: #52b28873;
                        z-index: -1;
                        display: none;
                    }

                    &.available:hover {
                        background-color: #52B289;
                        color: #fff;
                    }
                    &.today {
                        color: #52B289;
                    }

                    &.start-date, &.end-date {
                        border-radius: 50%;
                    }
                    &.start-date {
                        &::after {
                            right: 0;
                            display: block;
                        }

                        &.end-date {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    &.end-date {
                        &::after {
                            left: 0;
                            display: block;
                        }
                    }
                    &.in-range {
                        background-color: #52b28873;

                        &:not(.end-date):not(.start-date) {
                            border-radius: 0;
                        }
                    }
                    &.active {
                        background-color: #52B289;
                        color: #fff;
                    }

                    &.off {
                        color: #dddddd;
                    }
                }
            }

            &.left {
                padding: rem(24) rem(10) rem(24) rem(24);

                .calendar-table {
                    padding: 0;
                }
            }
            &.right {
                padding: rem(24) rem(24) rem(24) rem(10);
            }
        }
    }
}
