// Single
.custom-datepicker {
    input {
        width: 100%;
        height: rem(48);
    }
}

.air-datepicker.custom-datepicker-dropdown {
    border: 0;
    border-radius: rem(24);
    background-color: #fff;
    color: inherit;
    padding: rem(30);
    @include font(normal, 16, 1, inherit, 0);
    box-shadow: map-get($shadows, 'sm') !important;
    width: rem(280);
    border: 0;
    border-radius: rem(16);
    padding: rem(12) rem(16);
    color: inherit;
    font-weight: medium;
    background-color: #fff;

    .air-datepicker-nav {
        border-bottom: 0;
        padding: rem(5);

        .air-datepicker-nav--action {
            @include flex(0, 0, auto);
            width: rem(40);
            height: rem(40);
            @extend %user-cursor;
            font-size: rem(20);
        }

        .air-datepicker-nav--title {
            padding: 0 rem(24);
            font-size: rem(18);

            i {
                color: #aaaaaa;
            }

            &:hover {
                background-color: #dddddd;
            }
        }
    }
    
    .air-datepicker--content {
        padding: 0;

        .air-datepicker-body--day-names {
           margin: 0 0 rem(12) 0;
           
            .air-datepicker-body--day-name {
                color: #dddddd;
            }
        }

        .air-datepicker-body {
            .air-datepicker-body--cells {
                &.-days- {
                    grid-auto-rows: rem(40);
                }
                &.-months-, &.-years- {
                    grid-auto-rows: rem(56);
                }
            }

            .air-datepicker-cell {
                font-weight: 500;
                position: relative;

                &.-selected-, &.-focus- {
                    background-color: #52B289;
                    color: #fff;

                    &:hover {
                        background-color: #52B289;
                        color: #fff;
                    }
                }
                &.-current- {
                    color: #52B289;

                    &.-selected-, &.-focus- {
                        color: #fff;
                    }

                    &:hover {
                        background-color: #52B289;
                        color: #fff;
                    }
                }
                &:hover {
                    background-color: #52b28893;
                    color: #fff;
                }
            }

            &.-days- {
                .air-datepicker-cell {
                    border-radius: 50%;
                    
                    &.-range-from-, &.-range-to- {
                        z-index: 2;
                    }
                    &.-range-from- {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    &.-range-to- {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    // &.-range-from-+.air-datepicker-cell {
                    //     position: relative;

                    //     &::after {
                    //         content: "";
                    //         position: absolute;
                    //         width: 50%;
                    //         height: 100%;
                    //         background-color: inherit;
                    //         right: 100%;
                    //     }
                    // }
                    &.-in-range- {
                        background-color: #e7e7e7;
                        border-radius: 0;
                    }
    
                    &.-other-month- {
                        color: #c5c5c5;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            &:not(.years, .months) {
                .datepicker-cell:not(.range) {
                    border-radius: 50%;

                    // &.range-start, &.range-end {
                    //     &::before {
                    //         content: "";
                    //         position: absolute;
                    //         width: 50%;
                    //         height: 100%;
                    //         background-color: #e7e7e7;
                    //         pointer-events: none;
                    //     }
                    // }

                    // &.range-start {
                    //     &::before {
                    //         right: 0;
                    //     }
                    // }
                    // &.range-end {
                    //     &::before {
                    //         left: 0;
                    //     }
                    // }
                    &.range-start {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        background-color: #52B289;
                    }
                    &.range-end {
                        background-color: #52B289;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
}