.file-upload {
    &__wrap {
        position: relative;
    }
}

.file-upload-input {
    @extend %user-cursor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    z-index: 1;

    &::-webkit-file-upload-button {
        display: none;
    }
}

.avatar-upload {
    display: inline-block;

    &__body {
        width: rem(100);
        height: rem(100);
        border-radius: 50%;
        position: relative;
        background-color: #efefef;

        img {
            position: absolute;
            top: 0;
            left: 0;  
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        @include center-absolute(both);
        font-weight: 600;
    }

    &.preview-mode {
        .avatar-upload {
            &__content {
                display: none;
            }
        }
    }
}

.doc-upload {
    .file-upload__wrap {
        display: inline-block
    }
    &__preview {
        @extend %flex;
        @include flex-flow(column, nowrap);
    }
}

.doc-upload-item {
    margin-top: rem(24);
    width: 100%;
    padding: rem(20);
    background-color: #efefef;
    font-weight: 600;
    position: relative;
    padding-right: rem(64);

    &__remove {
        @include center-absolute(vertical);
        right: rem(20);
        font-size: rem(24);
        @extend %user-cursor;
        line-height: rem(24);
    }
}