@import "../utils/_module";
@import "../components/_achievement-item";

.about-top {
    padding-top: rem(160);
    padding-bottom: rem(90);
    margin-bottom: rem(70);

    &__title {
        max-width: rem(696);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
.about-block {
    margin-bottom: rem(180);

    &__text {
        margin-bottom: rem(40);
    }

    &__bottom {
        .highlight_md {
            margin-bottom: rem(35);
        }
    }

    &__img {
        text-align: right;
        padding-left: rem(74);
        margin-bottom: rem(50);
    }

    &__decor {
        text-align: center;
        .decor-text {
            &::after {
                bottom: rem(21);
                right: rem(35);
                width: rem(79);
                height: rem(11);
                @include background('../../img/decor/line.svg', center, contain, no-repeat, transparent);
            }

            &__content {
                text-align: left;
                max-width: rem(378);
            }
        }
    }
}
.about-section {
    margin-bottom: rem(150);
    padding-top: rem(105);
    overflow: hidden;

    &__main {
        color: #fff;

        .text {
            margin-bottom: rem(24);
        }
    }

    &__heading {
        padding-bottom: rem(36);
    }

    &__title {
        margin-bottom: rem(38);
    }

    &__decor {
        margin-top: rem(50);
        padding-bottom: rem(24);
        text-align: center;

        .decor-text {
            &__content {
                text-align: left;
                max-width: rem(420);
            }

            &::after {
                width: rem(115);
                height: rem(24);
                right: rem(74);
                bottom: rem(5);
                @include background('../../img/decor/line-md.svg', center, contain, no-repeat, transparent);
            }
        }
    }

    &__body {
        padding-top: rem(6);

        &-img {
            margin-bottom: rem(42);
            margin-right: rem(-93);
        }

        .highlight_sm {
            margin-bottom: rem(42);
            color: #fff;
        }

        .after-element.text {
            color: #fff;
            padding-bottom: rem(55);
            margin-bottom: rem(45);

            &::after {
                bottom: 0;
                left: -100vw;
                width: 4000px;
                height: 3000px;
                background-color: map-get($color-scheme, 'blue');
                @extend %not-selectable;
                z-index: -2;
            }
        }
    }

    &__highlight {
        margin-bottom: rem(40);
        @include font(800, 26, 142%, inherit, 0);
        @include font-media($media-xxl, rem(20), 130%);
        @include font-media($media-md, rem(18), 144%);
        @include font-media($media-sm, rem(17), 147%);

        &::after {
            top: rem(16);
            right: rem(-106);
            width: rem(56);
            height: rem(56);
            @include background('../../img/journey.svg', center, contain, no-repeat, transparent);
        }
    }

    &__decor-block {
        display: none;
    }
}
.achievements {
    margin-bottom: rem(150);

    &__list {
        .achievement-item {
            margin-top: rem(35);
            max-width: rem(432);
        }

        .column {
            &:nth-child(3n + 2) {
                .achievement-item {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &:nth-child(4n + 3) {
                .achievement-item {
                    margin-left: auto;
                }
            }
        }
    }
}
.empowering {
    margin-bottom: rem(77);

    &__heading {
        padding-right: rem(34);

        .text {
            padding-right: rem(22);
        }
    }

    &__title {
        margin-bottom: rem(36);
    }

    &__img {
        padding-top: rem(16);
    }
}
.journey {
    position: relative;
    margin-bottom: rem(52);
    padding-bottom: rem(105);

    &__decor {
        position: absolute;
        bottom: 0;
        right: rem(170);

        .decor-text {
            padding-top: rem(35);

            &__content {
                max-width: rem(260);
                text-align: right;
            }

            &::after {
                width: rem(115);
                height: rem(24);
                right: 0;
                top: 0;
                @include background('../../img/decor/line-md.svg', center, contain, no-repeat, transparent);
            }
        }
    }

    &__title {
        padding-top: rem(80);
        margin-bottom: rem(70);
        max-width: rem(935);
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &::after {
            top: 0;
            left: 50%;
            width: rem(60);
            height: rem(60);
            @include translate(-50%, 0);
            @include background('../../img/promotion.svg', center, contain, no-repeat, transparent);
        }
    }

    &__text {
        padding-right: rem(56);
    }
}
.primary-block {
    padding-top: rem(76);
    padding-bottom: rem(185);
    margin-bottom: rem(60);
    color: #fff;
    position: relative;
    overflow: hidden;

    &__decor {
        position: absolute;
        bottom: rem(24);
        right: rem(150);

        .decor-text {
            &__content {
                max-width: rem(358);
                text-align: right;
            }

            &::after {
                width: rem(115);
                height: rem(24);
                bottom: rem(-8);
                left: rem(110);
                @include background('../../img/decor/line-md.svg', center, contain, no-repeat, transparent);
            }
        }
    }

    &__wrap {
        background-color: $color-primary;
    }

    &__img {
        margin-top: rem(-76);
        padding-right: rem(67);
    }

    &__heading {
        min-height: rem(770);

        .text {
            margin-bottom: rem(24);
            padding-right: rem(48);
        }
    }

    &__title {
        padding-top: rem(105);
        margin-bottom: rem(36);
    }
 
    &__highlight {
        padding: rem(46) rem(80) rem(46) 0;
        margin-right: rem(67);
        margin-top: rem(-240);

        &::after {
            top: 0;
            left: rem(-250);
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
            @extend %not-selectable;
        }
    }
}
.fulfillment {
    overflow: hidden;
    margin-bottom: rem(100);

    &__title {
        margin-bottom: rem(36);
    }

    &__block {
        margin: rem(42) 0 rem(36);
    }

    &__content {
        padding: rem(17) 0 rem(65) rem(90);

        &::after {
            bottom: rem(0);
            top: rem(237);
            left: 0;
            width: 100vw;
            background-color: map-get($color-scheme, 'main-007');
            z-index: -1;
        }

        .bordered-text {
            margin-bottom: rem(42);
        }
    }

    &__img {
        margin-bottom: rem(53);
        margin-left: rem(-90);
    }
}

@media (max-width: $media-xxl) {
    .about-top {
        padding-top: rem(120);
        padding-bottom: rem(60);
    }
    .about-block {
        margin-bottom: rem(80);
    
        &__text {
            margin-bottom: rem(24);
        }
    
        &__bottom {
            .highlight_md {
                margin-bottom: rem(24);
            }
        }
    
        &__img {
            padding-left: rem(44);
            margin-bottom: rem(70);
        }
    
        &__decor {
            .decor-text {
                &::after {
                    bottom: 0;
                    right: rem(155);
                }
            }
        }
    }
    .about-section {
        margin-bottom: rem(100);
        padding-top: rem(70);
    
        &__heading {
            padding-bottom: rem(12);
        }
    
        &__title {
            margin-bottom: rem(24);
            margin-right: rem(-24);
        }
    
        &__decor {
            .decor-text {
                &__content {
                    max-width: rem(371);
                }
            }
        }
    
        &__body {
            padding-top: rem(15);
    
            &-img {
                margin-bottom: rem(47);
                margin-right: rem(-76);
            }
    
            .highlight_sm {
                margin-bottom: rem(24);
            }
    
            .after-element.text {
                padding-bottom: rem(44);
                margin-bottom: rem(40);
            }
        }
    
        &__highlight {
            margin-bottom: rem(24);
    
            &::after {
                top: rem(16);
                right: rem(-80);
                width: rem(40);
                height: rem(40);
            }
        }
    }
    .empowering {
        margin-bottom: rem(55);
    
        &__heading {
            padding-right: 0;
    
            .text {
                padding-right: rem(50);
            }
        }
    
        &__title {
            margin-bottom: rem(24);
        }
    
        &__img {
            padding-top: rem(20);
        }
    }
    .journey {
        margin-bottom: rem(30);
        padding-bottom: rem(85);
    
        &__decor {
            right: rem(145);
        }
    
        &__title {
            padding-top: rem(74);
            margin-bottom: rem(24);
            max-width: rem(716);
    
            &::after {
                width: rem(50);
                height: rem(50);
            }
        }
    
        &__text {
            padding-right: rem(30);
        }
    }
    .primary-block {
        padding-top: rem(58);
        padding-bottom: rem(160);
        margin-bottom: rem(10);
    
        &__decor {
            right: rem(80);
    
            .decor-text {
                &__content {
                    max-width: rem(310);
                }
    
                &::after {
                    bottom: rem(-10);
                    left: rem(60);
                }
            }
        }
    
        &__img {
            margin-top: rem(-58);
        }
    
        &__heading {
            min-height: rem(680);
    
            .text {
                padding-right: 0;
            }
        }
    
        &__title {
            padding-top: rem(74);
            margin-bottom: rem(28);
        }
     
        &__highlight {
            padding: rem(52) rem(48) rem(52) 0;
            margin-top: rem(-280);
    
            &::after {
                left: rem(-150);
            }
        }
    }
    .fulfillment {
        margin-bottom: rem(140);

        &__heading {
            padding-right: rem(32);
        }

        &__title {
            margin-bottom: rem(24);
        }
    
        &__block {
            margin: rem(24) 0;
        }
    
        &__content {
            padding: rem(17) 0 rem(32) rem(57);
    
            &::after {
                top: rem(195);
            }
    
            .bordered-text {
                margin-bottom: rem(32);
            }
        }
    
        &__img {
            margin-bottom: rem(32);
            margin-left: rem(-57);
        }
    }
}
@media (max-width: $media-md) {
    .about-top {
        padding-top: rem(96);
        padding-bottom: rem(34);
        margin-bottom: rem(40);
    }
    .about-block {
        margin-bottom: rem(42);
    
        &__text {
            margin-bottom: rem(16);
            min-height: rem(325);
            padding-right: rem(43);
        }
    
        &__bottom {
            margin-right: rem(-288);

            .highlight_md {
                margin-bottom: rem(16);
            }
        }
    
        &__img {
            padding-left: 0;
            margin-bottom: rem(45);
        }
    
        &__decor {
            .decor-text {
                margin-right: rem(-10);

                &::after {
                    bottom: rem(10);
                    right: rem(95);
                }
    
                &__content {
                    max-width: rem(271);
                }
            }
        }
    }
    .about-section {
        margin-bottom: rem(55);
        padding-top: rem(65);

        &__main {
            .about-section__decor {
                display: none;
            }
        }
    
        &__heading {
            padding-bottom: 0;

            .text {
                margin-bottom: rem(16);

                &:nth-child(2) {
                    padding-right: rem(30);
                }
                &:nth-child(3) {
                    margin-right: rem(-344);
                    margin-bottom: 0;
                }
            }
        }
    
        &__title {
            margin-bottom: rem(16);
            margin-right: 0;
        }
    
        &__decor {
            margin-top: rem(34);
            margin-right: rem(-30);

            .decor-text {
                &__content {
                    max-width: rem(247);
                }

                &::after {
                    width: rem(90);
                    right: rem(20);
                    bottom: rem(3);
                }
            }
        }
    
        &__body {
            &-img {
                margin-bottom: 0;
                margin-right: 0;
            }
    
            .highlight_sm {
                margin-bottom: rem(24);
                padding-right: rem(30);
            }
    
            .after-element.text {
                padding-bottom: rem(44);
                margin-bottom: rem(54);
            }
        }
    
        &__highlight {
            padding-top: rem(52);
            margin-bottom: rem(16);
            padding-right: rem(17);
    
            &::after {
                top: 0;
                left: 0;
                right: initial;
            }
        }
        &__decor-block {
            display: block;
        }
    }
    .achievements {
        margin-bottom: rem(55);
    
        &__list {
            .achievement-item {
                margin-top: rem(20);
            }
        }
    }
    .empowering {
        &__heading {
            .text {
                padding-right: 0;
            }
        }
    
        &__title {
            margin-right: rem(-336);
        }
    
        &__img {
            padding-top: rem(64);
        }
    }
    .journey {
        margin-bottom: rem(42);
        padding-bottom: rem(65);
    
        &__decor {
            right: rem(56);

            .decor-text {
                padding-top: rem(25);
    
                &__content {
                    max-width: rem(200);
                }
    
                &::after {
                    right: rem(12);
                }
            }
        }
    
        &__title {
            padding-top: rem(64);
            max-width: 100%;
    
            &::after {
                width: rem(40);
                height: rem(40);
            }
        }
    
        &__text {
            padding-right: 0;
        }
    }
    .primary-block {
        padding-top: rem(28);
        padding-bottom: rem(150);
        margin-bottom: rem(16);
    
        &__decor {
            right: rem(56);
    
            .decor-text {
                &__content {
                    max-width: rem(240);
                }
    
                &::after {
                    width: rem(90);
                    bottom: rem(-15);
                }
            }
        }
    
        &__img {
            margin-left: rem(18);
            padding-right: 0;
            margin-top: rem(-28);
            margin-right: rem(-105);
        }
    
        &__heading {
            min-height: initial;
    
            .text {
                padding-right: 0;

                &:nth-child(3) {
                    margin-right: rem(-280);
                }
            }
        }
    
        &__title {
            padding-top: rem(40);
            margin-bottom: rem(16);
        }
     
        &__highlight {
            padding: rem(43) rem(56);
            margin-top: rem(14);
            margin-right: 0;
    
            &::after {
                left: 0;
            }
        }
    }
    .fulfillment {
        margin-bottom: rem(90);

        &__heading {
            padding-right: 0;
        }

        &__title {
            margin-bottom: rem(16);
        }
    
        &__block {
            margin: rem(16) 0;
        }
    
        &__content {
            padding: rem(26) 0 rem(32);
            margin-top: rem(48);
    
            &::after {
                top: 0;
                left: rem(-56);
            }
    
            .bordered-text {
                margin-bottom: rem(24);
            }
        }
    
        &__img {
            margin-bottom: rem(24);
            margin-left: 0;
            margin-top: rem(-50);
        }
    }
}
@media (max-width: $media-sm) {
    .about-top {
        padding-top: rem(75);
        padding-bottom: rem(20);
        margin-bottom: rem(16);
    }
    .about-block {
        &__text {
            margin-bottom: rem(21);
            min-height: initial;
            padding-right: 0;
        }
    
        &__bottom {
            margin-right: 0;
            margin-bottom: rem(24);

            .highlight_md {
                margin-bottom: rem(20);
            }
        }
    
        &__img {
            margin-bottom: rem(25);
        }
    
        &__decor {
            .decor-text {
                margin-right: 0;

                &::after {
                    bottom: rem(3);
                    width: rem(45);
                }
    
                &__content {
                    max-width: rem(235);
                }
            }
        }
    }
    .about-section {
        margin-bottom: rem(32);
        padding-top: rem(18);
    
        &__heading {
            margin-bottom: rem(24);

            .text {
                margin-bottom: rem(12);

                &:nth-child(2) {
                    padding-right: 0;
                }
                &:nth-child(3) {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
    
        &__title {
            margin-bottom: rem(10);
        }
    
        &__decor {
            margin-top: rem(24);
            margin-right: 0;

            .decor-text {
                &__content {
                    max-width: rem(260);
                }

                &::after {
                    width: rem(60);
                    right: rem(72);
                    bottom: rem(-2);
                }
            }
        }
    
        &__body {
            &-img {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: rem(-16);
                    right: rem(-16);
                    background-color: map-get($color-scheme, 'blue');
                    z-index: -1;
                }
            }
    
            .highlight_sm {
                padding-right: 0;
            }
    
            .after-element.text {
                padding-bottom: rem(24);
                margin-bottom: 0;
            }
        }
    
        &__highlight {
            margin-top: rem(16);
            margin-bottom: rem(14);
            padding-right: 0;
        }
    }
    .achievements {
        &__list {
            .achievement-item {
                margin-top: rem(16);
                max-width: 100%;
            }
    
            .column {
                &:nth-child(3n + 2) {
                    .achievement-item {
                        margin-left: initial;
                        margin-right: initial;
                    }
                }
                &:nth-child(4n + 3) {
                    .achievement-item {
                        margin-left: initial;
                    }
                }
            }
        }
    }
    .empowering {
        margin-bottom: rem(20);

        &__heading {
            margin-bottom: rem(24);
        }
    
        &__title {
            margin-right: 0;
            margin-bottom: rem(10);
        }
    
        &__img {
            padding-top: 0;
        }
    }
    .journey {
        margin-bottom: rem(35);
        padding-bottom: rem(56);
    
        &__decor {
            right: rem(16);

            .decor-text {
                padding-top: 0;
                padding-left: rem(35);
    
                &__content {
                    max-width: rem(156);
                }
    
                &::after {
                    right: initial;
                    top: initial;
                    left: 0;
                    bottom: rem(-17);
                    width: rem(60);
                }
            }
        }
    
        &__title {
            padding-top: rem(52);
            margin-bottom: rem(16);
        }
    }
    .primary-block {
        padding-top: rem(24);
        padding-bottom: rem(120);
        margin-bottom: rem(16);
    
        &__decor {
            right: rem(20);
    
            .decor-text {
                &__content {
                    max-width: rem(225);
                }
    
                &::after {
                    width: rem(55);
                    left: rem(87);
                    bottom: rem(-10);
                }
            }
        }
    
        &__img {
            margin-left: 0;
            margin-top: rem(-24);
            margin-right: 0;
        }
    
        &__heading {
            .text {
                margin-bottom: rem(16);

                &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    
        &__title {
            padding-top: rem(25);
            margin-bottom: rem(10);
        }
     
        &__highlight {
            padding: rem(17) rem(16) rem(24);
            margin-top: rem(4);
            margin-left: rem(-16);
            margin-right: rem(-16);
        }
    }
    .fulfillment {
        margin-bottom: rem(50);

        &__title {
            margin-bottom: rem(10);
        }
    
        &__block {
            margin: rem(32) 0 rem(20);
        }
    
        &__content {
            padding: 0;
            margin-top: rem(22);
    
            &::after {
                display: none;
            }
    
            .bordered-text {
                margin-bottom: rem(18);
            }
        }
    
        &__img {
            margin-top: 0;
        }
    }
}