@import "../utils/_module";
@import "../components/_file-upload";
@import "../components/_toast";
// @import "../components/_combobox";
@import "../components/_combobox_new";
@import "../components/_modal";
@import "../components/_form-items";
@import "../components/_accordion";
@import "../components/_tabs";
@import "../components/_skeleton";
@import "../components/_checkbox";
@import "../components/_datepicker";
@import "../components/_popover";
@import "../components/_carousel";

.components {
    padding: rem(25) 0;
}

.component {
    margin-top: rem(50);
    padding-bottom: rem(25);
    border-bottom: rem(5) solid #000;
    padding: rem(25);

    &__wrap {
        margin-top: rem(24);
    }

    .h1-font {
        margin-bottom: rem(32);
    }

    .h2-font {
        margin-bottom: rem(16);
    }

    &:first-child {
        margin-top: 0;
    }
}

// Switcher
.switcher {
    @extend %flex;
    @extend %align-middle;

    &__item {
        margin-right: rem(16);
        @extend %user-cursor;

        &.active {
            background-color: #000;
            color: #fff;
        }
    }
}

// Modal 
.modal {
    span {
        display: block;
        margin-top: rem(24);
        font-size: rem(24);
    }
}

// Shadow
.shadow-item {
    width: 100%;
    height: rem(100);
    margin-top: rem(25);
    @extend %flex;
    @extend %align-middle;
    @extend %align-center;
}

// Btns
.btns {
    @extend %flex;
    @extend %align-top;

    .btn {
        margin-right: rem(24);
    }
}

ul {
    li {
        margin-bottom: rem(10);
        list-style-position: inside;
    }
}