@import "../utils/_module";
@import "../layouts/_home-header";

.hero-block {
    margin-bottom: rem(160);

    &__preview {
        @extend %flex;
        margin-left: rem(-120);
        margin-right: rem(-24);
        padding-right: rem(88);
        width: calc(100% + #{rem(144)});
        background-color: map-get($color-scheme, 'main-007');
        z-index: 1;

        video {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        @extend %flex;
        @extend %align-middle;
        position: relative;
        background-color: map-get($color-scheme, 'main-007');
        margin-right: rem(-248);
        padding: rem(170) rem(116) rem(170) 0;
    }

    &__title {
        margin-bottom: rem(32);
    }

    &__desc {
        margin-bottom: rem(43);
        max-width: rem(682);
    }

    &__decor {
        position: absolute;
        bottom: rem(-32);
        right: rem(96);

        .decor-text {
            &__content {
                max-width: rem(360);
                text-align: right;
            }

            &__icon {
                margin-left: rem(32);
                margin-top: rem(-45);

                img {
                    width: rem(60)
                }
            }
        }
    }
}
.leadership {
    margin-bottom: rem(208);

    &__heading {
        .after-element {
            &::after {
                width: rem(64);
                height: rem(3);
                background-color: $color-main;
                bottom: rem(-77);
                left: 0;
            }
        }
    }

    &__title {
        margin-bottom: rem(32);
    }

    &__body {
        padding-top: rem(16);

        .highlight {
            max-width: rem(594);
            margin-bottom: rem(50);
        }
    }
}
.coaching {
    padding-bottom: rem(110);
    margin-bottom: rem(160);
    
    &::after {
        left: 0;
        top: 0;
        right: rem(248);
        bottom: 0;
        background-color: map-get($color-scheme, 'primary-007');
        z-index: -1;
    }

    &__decor {
        margin-top: rem(-60);
        margin-bottom: rem(60);

        .decor-text {
            &__content {
                max-width: rem(385);
            }
            &__icon {
                margin-right: rem(34);
                padding-top: rem(30);

                img {
                    width: rem(59);
                }
            }
        }
    }

    &__highlight {
        padding-left: rem(61);
        margin-top: rem(40);

        &::after {
            top: rem(12);
            left: 0;
            width: rem(40);
            height: rem(3);
            background-color: $color-main;
        }
    }
}
.service-list {
    margin-bottom: rem(140);

    &__heading {
        text-align: center;
        margin-bottom: rem(40);

        .text {
            max-width: rem(608);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title {
        max-width: rem(920);
        margin: 0 auto rem(32);
    }

    &__items {
        .column {
            &:nth-child(1) {
                .service-list-item__wrap {
                    background-color: rgba(54, 96, 110, 0.1);
                    color: map-get($color-scheme, 'blue');

                    &:hover {
                        background-color: map-get($color-scheme, 'blue');
                        color: #fff;
                    }
                }
            }
            &:nth-child(2) {
                .service-list-item__wrap {
                    background-color: rgba(98, 72, 130, 0.1);
                    color: map-get($color-scheme, 'violet');

                    &:hover {
                        background-color: map-get($color-scheme, 'violet');
                        color: #fff;
                    }
                }
            }
            &:nth-child(3) {
                .service-list-item__wrap {
                    background-color: rgba(239, 120, 88, 0.1);
                    color: $color-primary;

                    &:hover {
                        background-color: $color-primary;
                        color: #fff;
                    }
                }
            }
            &:nth-child(4) {
                .service-list-item__wrap {
                    background-color: rgba(64, 143, 139, 0.1);
                    color: $color-main;

                    &:hover {
                        background-color: $color-main;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.service-list-item {
    padding-top: rem(48.5);
    position: relative;
    
    &__wrap {
        display: block;
        @extend %primary-transition;
        padding: rem(30) rem(35);

        &:hover {
            .service-list-item {
                &__icon {
                    background-color: #fff;
                }
    
                &__title, &__desc {
                    color: currentColor;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: rem(24);
        width: rem(97);
        height: rem(97);
        @extend %primary-transition;

        img {
            position: relative;
            z-index: 2;
            width: rem(60);
        }
    }

    &__title {
        padding-right: rem(100);
        margin-bottom: rem(15);
        @include font(700, 28, 114%, $color-secondary, 0);
        @include font-media($media-xxl, rem(22), 118%);
        @include font-media($media-md, rem(18), 144%);
        @include font-media($media-sm, rem(20), 130%);
    }

    &__desc {
        @include font(500, 16, 162%, $color-secondary, 0);
        @include font-media($media-xxl, rem(14), 157%);
        margin-bottom: rem(15);
    }

    &__more {
        color: currentColor;
    }
}
.evolution {
    margin-bottom: rem(270);
    
    &__title {
        padding-top: rem(72);
        margin-bottom: rem(32);
    }
    
    &__img {
        margin-top: rem(58);

        &::after {
            left: rem(-120);
            bottom: rem(-86);
            width: rem(676);
            height: rem(433);
            background-color: map-get($color-scheme, 'main-007');
        }

        img {
            position: relative;
            z-index: 1;
        }
    }

    &__avatar {
        @extend %flex;
        @extend %align-between;
        @extend %align-middle;
        margin-bottom: rem(32);

        .avatar {
            @include flex(0, 0, auto);
            border: rem(2) solid #F2F7F8;
            padding: rem(32);
            border-radius: 50%;

            img {
                width: rem(200);
            }
            
            &__wrap {
                border-radius: 50%;
                overflow: hidden;
            }
        }

        .decor-text {
            margin-right: rem(-105);
            padding-top: rem(20);

            &::after {
                top: 0;
                left: rem(-13);
                width: rem(79);
                height: rem(11);
                @include background('../../img/decor/line.svg', center, contain, no-repeat, transparent);
            }

            &__content {
                max-width: rem(371);
            }
        }
    }

    &__block {
        margin: rem(80) 0 rem(42);
    }
}

@media (max-width: $media-xxl) {
    .hero-block { 
        &__preview {
            margin-left: rem(-66);
            padding-right: rem(60);
            width: calc(100% + #{rem(126)});
        }
    
        &__content {
            margin-right: rem(-145);
            padding: rem(100) rem(66) rem(100) 0;
        }
    
        &__title {
            margin-bottom: rem(24);
        }
    
        &__desc {
            margin-bottom: rem(28);
            max-width: rem(580);
        }
    
        &__decor {
            bottom: rem(-75);
            right: rem(50);
    
            .decor-text {
                &__content {
                    max-width: rem(280);
                }
    
                &__icon {
                    img {
                        width: rem(40)
                    }
                }
            }
        }
    }
    .leadership {
        margin-bottom: rem(162);
    
        &__heading {
            padding-right: rem(66);

            .after-element {
                &::after {
                    bottom: rem(-32);
                }
            }
        }
    
        &__title {
            margin-bottom: rem(24);
        }
    
        &__body {
            padding-top: rem(13);

            .highlight {
                margin-bottom: rem(64);
            }
        }
    }
    .coaching {
        padding-bottom: rem(100);
        margin-bottom: rem(115);
        
        &::after {
            right: 0;
        }
    
        &__decor {
            margin-top: rem(-50);
            margin-bottom: rem(60);
    
            .decor-text {
                &__content {
                    max-width: rem(315);
                }
    
                &__icon {
                    margin-right: rem(34);
                    padding-top: rem(30);
    
                    img {
                        width: rem(40);
                    }
                }
            }
        }
    
        &__highlight {
            padding-left: 0;
    
            &::after {
                top: rem(8);
                left: rem(-64);
            }
        }
    }
    .service-list {
        &__heading {
            margin-bottom: rem(24);
        }
    
        &__title {
            margin-bottom: rem(24);
        }
    }
    .service-list-item {
        padding-top: rem(37.5);
        
        &__wrap {
            padding: rem(24) rem(28);
        }
    
        &__icon {
            right: rem(12);
            width: rem(72);
            height: rem(72);
    
            img {
                width: rem(44);
            }
        }
    
        &__title {
            padding-right: rem(64);
            margin-bottom: rem(12);
        }
    
        &__desc {
            margin-bottom: rem(12);
        }
    }
    .evolution {
        margin-bottom: rem(145);
        
        &__title {
            padding-top: rem(14);
            margin-bottom: rem(28);
        }

        &__text {
            padding-right: rem(28);
        }
    
        &__img {
            &::after {
                left: rem(-66);
                bottom: rem(-52);
                width: rem(565);
                height: rem(300);
            } 
        }
    
        &__avatar {
            margin-bottom: rem(55);
            @include align-items(flex-start);
    
            .avatar {
                padding: rem(18);

                img {
                    width: rem(121);
                }
            }
    
            .decor-text {
                &__content {
                    max-width: rem(333);
                }
            }
        }
    
        &__block {
            margin: rem(105) 0 rem(24);
        }
    }
}
@media (max-width: $media-md) {
    .hero-block {
        padding-top: rem(90);
        margin-bottom: rem(100);
        background-color: map-get($color-scheme, 'main-007');

        &__preview {
            margin-left: rem(-56);
            margin-right: rem(-16);
            padding-right: rem(56);
            width: calc(100% + #{rem(74)});
            background-color: initial;
        }
    
        &__content {
            @include align-items(flex-start);
            margin-right: rem(-56);
            padding: 0 rem(56) rem(50) 0;
            background-color: initial;
        }
    
        &__title {
            margin-bottom: rem(16);
        }
    
        &__desc {
            margin-bottom: rem(16);
            max-width: 100%;
        }
    
        &__decor {
            bottom: rem(-65);
            right: rem(42);
    
            .decor-text {
                &__content {
                    max-width: rem(208);
                }
    
                &__icon {
                    margin-left: rem(20);
                    margin-top: rem(-15);
                }
            }
        }
    }
    .leadership {
        margin-bottom: rem(92);
    
        &__heading {
            padding-right: 0;

            .after-element {
                &::after {
                    bottom: rem(-16);
                }
            }
        }
    
        &__title {
            margin-bottom: rem(16);
        }
    
        &__body {
            padding-top: rem(9);
            padding-left: rem(40);

            .highlight {
                margin-bottom: rem(24);
            }
        }
    }
    .coaching {
        padding-bottom: rem(50);
        margin-bottom: rem(55);
    
        &__decor {
            margin-top: rem(-50);
            margin-bottom: rem(34);
            text-align: center;
    
            .decor-text {
                &__content {
                    max-width: rem(260);
                }
    
                &__icon {
                    margin-right: rem(20);
                    padding-top: rem(30);
                }
            }
        }
    
        &__highlight {
            margin-top: rem(20);
            padding-left: 0;
            padding-top: rem(19);
    
            &::after {
                top: 0;
                left: 0;
            }
        }
    }
    .service-list {
        margin-bottom: rem(40);

        &__heading {
            margin-bottom: 0;

            .text {
                max-width: rem(376);
            }
        }
    
        &__title {
            margin-bottom: rem(16);
            max-width: rem(394);
        }
    }
    .service-list-item {
        margin-top: rem(10);
    
        &__title {
            padding-right: rem(125);
        }
    }
    .evolution {
        margin-bottom: rem(82);
    
        &__title {
            margin-bottom: rem(16);
            max-width: rem(337);
        }

        &__text {
            margin-bottom: rem(32);
        }
    
        &__img {
            margin-top: 0;
            padding-top: rem(7);

            &::after {
                display: none;
            } 
        }

        &__body {
            .column:nth-child(2) {
                .text {
                    padding-right: rem(28);
                }
            }
        }
    
        &__avatar {
            margin-bottom: 0;
            display: block;
            margin-top: rem(-64);
    
            .avatar {
                padding: rem(5);
                display: inline-block;

                img {
                    width: rem(80);
                }
            }
    
            .decor-text {
                margin-right: 0;
                padding-top: rem(32);
                margin-top: rem(-20);

                &::after {
                    width: rem(55);
                    right: rem(60);
                    left: initial;
                }

                &__content {
                    max-width: rem(252);
                }
            }
        }
    
        &__block {
            margin: rem(36) 0;
        }
    }
}
@media (max-width: $media-sm) {
    .hero-block {
        padding-top: 0;
        margin-top: rem(68);

        &__preview {
            margin-left: rem(-16);
            margin-right: rem(-16);
            padding-right: 0;
            width: calc(100% + #{rem(32)});
        }
    
        &__content {
            margin-right: 0;
            padding: rem(14) 0 rem(32) 0;
        }
    
        &__title {
            margin-bottom: rem(11);
        }
    
        &__desc {
            margin-bottom: rem(18);
        }
    
        &__decor {
            bottom: rem(-60);
            right: rem(21);
    
            .decor-text {
                &__content {
                    max-width: rem(196);
                }
    
                &__icon {
                    margin-left: rem(12);
                    margin-top: rem(-32);
                }
            }
        }
    }
    .leadership {
        margin-bottom: rem(70);
    
        &__heading {
            padding-right: 0;

            .after-element {
                &::after {
                    display: none;
                }
            }
        }
    
        &__title {
            margin-bottom: rem(10);
        }
    
        &__body {
            padding-top: rem(24);
            padding-left: 0;

            .highlight {
                margin-bottom: rem(34);
            }
        }
    } 
    .coaching {
        padding-bottom: rem(22);
    
        &__decor {
            margin-top: rem(-26);
            margin-bottom: rem(30);
            text-align: left;
    
            .decor-text {
                &__content {
                    max-width: rem(200);
                }
    
                &__icon {
                    margin-right: rem(10);
                    padding-top: rem(34);
                }
            }
        }
    
        &__highlight {
            padding-top: rem(22);
        }
    }
    .service-list {
        margin-bottom: rem(50);

        &__title {
            margin-bottom: rem(10);
        }
    }
    .service-list-item {
        padding-top: rem(37.5);
        margin-top: rem(10);
    
        &__title {
            padding-right: rem(100);
        }
    }
    .evolution {
        margin-bottom: rem(50);
    
        &__title {
            padding-top: 0;
            margin-bottom: rem(10);
            max-width: 100%;
        }

        &__text {
            padding-right: 0;
            margin-bottom: rem(22);
        }

        &__img {
            padding-top: 0;
        }

        &__body {
            .column:nth-child(2) {
                .text {
                    padding-right: 0;
                }
            }
        }
    
        &__avatar {
            margin-bottom: rem(24);
            margin-top: rem(24);
            display: flex;
            display: -ms-flexbox;
            @include justify(flex-start);
    
            .avatar {
                padding: rem(8);

                img {
                    width: rem(86);
                }
            }
    
            .decor-text {
                margin-left: rem(18);
                padding-top: rem(8);
                margin-top: 0;

                &::after {
                    width: rem(45);
                    right: initial;
                    left: rem(-12);
                }
            }
        }
    
        &__block {
            margin: rem(40) 0 rem(22);
        }
    }
}